<p id="notice"><%= notice %></p>
<div data-turbolinks="false">

<iframe id="ytplayer" type="text/html" width="854" height="480" src="<%= @video.url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 


</div>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
