
<div class="jumbotron">
  <h1 class="display-3">Margo's Cargo</h1>
  <p class="lead">We will be back soon.</p>
  <hr class="my-4">
  <p><a href="mailto:support@margoscargo.com">Email Margo</a></p> 
  <p class="lead">
    
  </p>
</div>

